<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">全部订单</a></li>
    </ul>
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>编号</th>
        <th>出发地</th>
        <th>到达地</th>
        <th>出发日期</th>
        <th>预计出发时间</th>
        <th>预计到达时间</th>
        <th>航空公司</th>
        <th>价格</th>

        
        </tr>
        </thead>
<tbody>
    <tr th:each="i:${planeorder }">		    					
		    <td th:text="${i.id}"></td>
		    <td th:text="${i.departure}"></td>
		    <td th:text="${i.arrive}"></td>
		    <td th:text="${i.date}"></td>
		    <td th:text="${i.dtime}"></td>
		    <td th:text="${i.atime}"></td>
		    <td th:text="${i.airline}"></td>
		    <td th:text="${i.price}"></td>					       
	    </tr>
     </tbody>
    </table>	
   <span th:text="${msg}"></span>
		 </div>	

    
  
</body>

</html>
